<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Expecto Tabula et Schema</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<body>
    <h1>CS 340 Project: A database describing the student population of Hogwarts</h1>
    <h2>Created by: Kevin Ha, Ken Hall</h2>

    <p>Main Menu:</p>
    <ul>
        <li>Entity Operations: List, Add, Update, and/or Delete <br>
            <ul>
                <li><a href="/class">Class</a></li>
                <li><a href="/house">House</a></li>
                <li><a href="/student">Student</a></li>
                <li><a href="/location">Location</a></li>
            </ul>
        </li>
        <li>Relationship Operations: List, and Add/Delete/Update (where applicable) <br>
            <ul>
                <li><a href="/dorm">Assign a student to a new dorm</a></li>
                <li><a href="/isLocatedAt">Move a student to a new location (change a 1-M relationship)</a></li>
                <li><a href="/takes">Enroll/Withdraw a student in/from a class (change a M-N relationship)</a></li>
                <li><a href="/isFriendOf">Create/Delete a friendship between two students (change a M-N relationship)</a></li>
            </ul>
        </li>
    </ul>
</body>
</html>
